blockquote {
  border-radius: 6px;
  padding: 0.0em 0.8em 0.1em .8em !important;
  margin: 1em 0 0 0 !important;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0px;
}

body.theme-high-contrast blockquote {
  border-radius: 6px;
  padding: 0.0em 0.8em 0.1em .8em !important;
  margin: 1em 0 0 0 !important;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0px;
  background: transparent;
  color: white !important;
}

blockquote ul {
  margin: 1rem 0 1.1rem 2.5rem
}

blockquote p {
  margin: 0px 0 10px 0;
}

blockquote p:first-child {
  margin-top: 15px
}

blockquote hr {
  border: transparent;
  height: 1px;
}

blockquote a {
  color: hsla(206, 100%, 15%, 1);
  color: var(--primary-dark);
  text-decoration: none;
}

blockquote span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 1rem;
  margin-bottom: 0;
}

blockquote>pre {
  margin-bottom: .8rem;
}

body.theme-high-contrast blockquote>pre>code>div {
  color: white;
}

.content blockquote>ul {
  margin-bottom: .9rem;
}

blockquote.NOTE {
  color: #38225d !important;
  background: #e2daf1;
  border-left: 0px solid #e2daf1;
}

blockquote.NOTE p {
  color: #38225d !important;
}

body.theme-high-contrast blockquote.NOTE {
  border: solid #a47af3;
  border-width: thin;
  color: white !important;
}

body.theme-high-contrast blockquote.NOTE p {
  color: #e2daf1 !important;
}

body.theme-dark blockquote.NOTE {
  background: #38225d;
  color: white !important;
}

body.theme-dark blockquote.NOTE p {
  color: #e2daf1 !important;
}

blockquote.TIP {
  color: #094409 !important;
  background: #d2f9d2;
  border-left: 0px solid #d2f9d2;
}

blockquote.TIP p {
  color: #094409 !important;
}

body.theme-high-contrast blockquote.TIP {
  border: solid #72ec72;
  border-width: thin;
  color: white !important;
}

body.theme-dark blockquote.TIP p {
  color: #d2f9d2 !important;
}

body.theme-dark blockquote.TIP {
  background: #094409;
  color: white !important;
}

body.theme-high-contrast blockquote.TIP p {
  color: #d2f9d2 !important;
}

blockquote.IMPORTANT {
  color: #002b4d !important;
  background: #e0f2ff;
  border-left: 0px solid #002b4d;
}

blockquote.IMPORTANT p {
  color: #002b4d !important;
}

body.theme-high-contrast blockquote.IMPORTANT {
  border: solid yellow;
  border-width: thin;
  color: white !important;
}

body.theme-high-contrast blockquote.IMPORTANT p {
  color: yellow !important;
}

body.theme-dark blockquote.IMPORTANT {
  background: #002b4d;
  color: white !important;
}

body.theme-dark blockquote.IMPORTANT p {
  color: #a3d7ff !important;
}

blockquote.CAUTION {
  color: #651b01 !important;
  background: #ffdacc;
  border-left: 0px solid #ffdacc;
}

blockquote.CAUTION p {
  color: #651b01 !important;
}

body.theme-high-contrast blockquote.CAUTION {
  border: solid #fa9183;
  border-width: thin;
  color: white !important;
}

body.theme-high-contrast blockquote.CAUTION p {
  color: #fa9183 !important;
}

body.theme-dark blockquote.CAUTION {
  background: #651b01;
  color: white !important;
}

body.theme-dark blockquote.CAUTION p {
  color: #fa9183 !important;
}

blockquote.WARNING {
  color: #664b00 !important;
  background: #fff1cc;
  border-left: #fff1cc;
}

blockquote.WARNING p {
  color: #664b00 !important;
}

body.theme-high-contrast blockquote.WARNING {
  border: solid #eecc6f;
  border-width: thin;
  color: white !important;
}

body.theme-high-contrast blockquote.WARNING p {
  color: #eecc6f !important;
}

body.theme-dark blockquote.WARNING {
  background: #664b00;
  color: white !important;
}

body.theme-dark blockquote.WARNING p {
  color: #eecc6f !important;
}