/* Greenfield breakpoints */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  overflow: visible;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 600;
}

a.nohref {
  cursor: pointer;
}

mark {
  font-size: 0.8em;
  vertical-align: baseline;
  padding: 0 0.45em 0.1em;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: hsla(0, 0%, 89%, 1);
  border-color: var(--border);
  background-color: hsla(0, 0%, 0%, 0.108);
  background-color: var(--box-shadow-light);
  color: hsla(0, 0%, 0%, 1);
  color: var(--text);
}

.content .azureselector label {
  position: relative;
  float: left;
  height: 28px;
  margin-right: 0.6em;
  font-size: 0.6em;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  vertical-align: middle;
  color: hsla(0, 0%, 0%, 1);
  color: var(--text);
}

blockquote {
  display: block;
  margin: 1.2em 0 2em;
  padding: 0 0.8em;
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: hsla(0, 0%, 89%, 1);
  border-color: var(--border);
}

blockquote footer {
  font-size: 0.9em;
  color: hsla(0, 0%, 37%, 1);
  color: var(--text-subtle);
}

.definition {
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: hsla(0, 0%, 89%, 1);
  border-color: var(--border);
}

.full {
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  clear: both;
}

.overflowable {
  overflow-x: auto;
  min-height: 0.01%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.list-indent li {
  margin-left: 0.6em;
}

.list-footnotes {
  font-size: 0.9em;
  color: hsla(0, 0%, 37%, 1);
  color: var(--text-subtle);
}

.table-wrapper {
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  margin: 0.6em 0 1.2em;
  border-color: hsla(0, 0%, 89%, 1);
  border-color: var(--border);
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: auto;
  min-height: 0.01%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.document-ui {
  overflow: auto;
  border-radius: 2px;
  padding: 0.4em 0.6em;
  margin-bottom: 2em;
  margin-top: 0.6em;
  list-style-type: none;
  background-color: hsla(0, 0%, 95%, 1);
  background-color: var(--body-background-dark);
}

.document-ui li {
  display: inline-block;
  margin: 0;
  padding: 0.2em 0;
}

#menu-bar-container {
  position: relative;
  clear: both;
}

#menu-bar {
  position: relative;
  height: auto;
  width: 100%;
  overflow: auto;
  display: none;
}

@media screen and (min-width: 1088px) {
  #menu-bar {
    display: block !important;
  }
}

.step-by-step {
  margin-top: 2em;
  padding: 1em;
  border-width: 1px 0 0;
  border-style: solid;
  text-align: center;
  border-color: hsla(0, 0%, 89%, 1);
  border-color: var(--border);
}

.step-by-step button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.selectors {
  display: block;
  margin: 2em 0;
  overflow: auto;
}

.openfeedback-container {
  z-index: 220;
  position: relative;
  display: block;
}

/* product feedback */
.product-feedback {
  display: block;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-top: 0.6em;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: hsla(0, 0%, 89%, 1);
  border-color: var(--border);
  color: hsla(0, 0%, 37%, 1);
  color: var(--text-subtle);
}

@media screen and (max-width: 1024px) {
  .product-feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.product-feedback a {
  padding-right: 24px;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .product-feedback a {
    max-width: 50%;
  }
}

/* Azure Selectors */
.op_single_selector,
.op_multi_selector {
  display: none;
}

.azureselector > div {
  display: inline-block;
  margin-right: 20px;
}


/*# sourceMappingURL=conceptual.css.map */