@charset "UTF-8";
/* Greenfield breakpoints */
.has-box-shadow-medium {
	box-shadow: 0 3.2px 7.2px 0 hsla(0, 0%, 0%, 0.132), 0 0.6px 1.8px 0 hsla(0, 0%, 0%, 0.108) !important;
	box-shadow: 0 3.2px 7.2px 0 var(--box-shadow-medium), 0 0.6px 1.8px 0 var(--box-shadow-light) !important;
}

.is-block {
	display: block !important;
}

.is-flex {
	display: flex !important;
}

.is-unstyled {
	list-style-type: none !important;
}

.has-border-top {
	border-top: 1px solid hsla(0, 0%, 89%, 1) !important;
	border-top: 1px solid var(--border) !important;
}

.has-line-height-reset {
	line-height: 1.3 !important;
}

.has-background-transparent:not(:hover) {
	background: transparent !important;
}

.has-margin-none {
	margin: 0 !important;
}

.has-margin-right-extra-small {
	margin-right: 0.25rem !important;
}

.has-margin-small {
	margin: 0.5rem !important;
}

.has-margin-top-small {
	margin-top: 0.5rem !important;
}

.has-padding-top-small {
	padding-top: 0.5rem !important;
}

.has-margin-bottom-small {
	margin-bottom: 0.5rem !important;
}

.has-padding-bottom-small {
	padding-bottom: 0.5rem !important;
}

.has-margin-top-medium {
	margin-top: 1rem !important;
}

.has-padding-top-medium {
	padding-top: 1rem !important;
}

.has-padding-bottom-medium {
	padding-bottom: 1rem !important;
}

.is-size-4 {
	font-size: 1.125rem !important;
}

.is-size-7 {
	font-size: 0.875rem !important;
}
.is-size-small {
	font-size: 0.875rem !important;
}

.is-size-extra-small {
	font-size: 0.75rem !important;
}

.is-size-tiny {
	font-size: 0.6875rem !important;
}

.is-size-h1 {
	font-size: 2.25rem !important;
}

.is-size-h2 {
	font-size: 2rem !important;
}

.is-size-h3 {
	font-size: 1.75rem !important;
}

.is-size-h4 {
	font-size: 1.5rem !important;
}

.is-size-h5 {
	font-size: 1.25rem !important;
}
.is-uppercase {
	text-transform: uppercase !important;
}

.has-text-subtle {
	color: hsla(0, 0%, 37%, 1) !important;
	color: var(--text-subtle) !important;
}

.has-flex-align-self-center {
	align-self: center !important;
}

:root {
	--text: black;
	--text-subtle: #5e5e5e;
	--text-invert: white;
	--text-glow-high-contrast: black;
	--box-shadow-light: rgba(0, 0, 0, 0.108);
	--box-shadow-medium: rgba(0, 0, 0, 0.132);
	--box-shadow-heavy: rgba(0, 0, 0, 0.18);
	--box-shadow-extra-heavy: rgba(0, 0, 0, 0.22);
	--overlay: rgba(145, 145, 145, 0.5);
	--overlay-hover: rgba(255, 255, 255, 0.5);
	--body-background: white;
	--body-background-medium: #fafafa;
	--body-background-dark: #f2f2f2;
	--border: #e3e3e3;
	--hover-base: #2e2e2e;
	--hover-invert: #fafafa;
	--border-white-high-contrast: rgba(255, 255, 255, 0);
	--border-yellow-high-contrast: rgba(0, 0, 0, 0);
	--primary-base: #0065b3;
	--primary-background: #e0f2ff;
	--primary-background-glow-high-contrast: #e0f2ff;
	--primary-dark: #002b4d;
	--primary-hover: #00518f;
	--primary-active: #003a66;
	--primary-box-shadow: rgba(0, 101, 179, 0.3);
	--primary-invert: white;
	--secondary-base: #ababab;
	--secondary-background: #e3e3e3;
	--secondary-background-glow-high-contrast: #e3e3e3;
	--secondary-dark: #2e2e2e;
	--secondary-hover: #c7c7c7;
	--secondary-active: #c7c7c7;
	--secondary-box-shadow: rgba(0, 0, 0, 0.3);
	--secondary-invert: black;
	--tertiary-base: #454545;
	--tertiary-background: #171717;
	--tertiary-background-glow-high-contrast: #171717;
	--tertiary-dark: #e3e3e3;
	--tertiary-hover: #5e5e5e;
	--tertiary-active: #757575;
	--tertiary-box-shadow: rgba(0, 101, 179, 0.3);
	--tertiary-invert: white;
	--success-base: #128712;
	--success-background: #d2f9d2;
	--success-background-glow-high-contrast: #d2f9d2;
	--success-dark: #094409;
	--success-hover: #0f710f;
	--success-active: #0c5a0c;
	--success-box-shadow: rgba(18, 135, 18, 0.3);
	--success-invert: white;
	--info-base: #8763c5;
	--info-background: #e2daf1;
	--info-background-glow-high-contrast: #e2daf1;
	--info-dark: #38225d;
	--info-hover: #7045ba;
	--info-active: #53338a;
	--info-box-shadow: #e2daf1;
	--info-invert: white;
	--warning-base: #ffbb00;
	--warning-background: #fff1cc;
	--warning-background-glow-high-contrast: #fff1cc;
	--warning-dark: #664b00;
	--warning-hover: #cc9600;
	--warning-active: #997000;
	--warning-box-shadow: rgba(255, 187, 0, 0.3);
	--warning-invert: black;
	--danger-base: #da3b01;
	--danger-background: #ffdacc;
	--danger-background-glow-high-contrast: #ffdacc;
	--danger-dark: #651b01;
	--danger-hover: #b23001;
	--danger-active: #7f2201;
	--danger-box-shadow: rgba(218, 59, 1, 0.3);
	--danger-invert: white;
}

/* stylelint-disable*/
html {
	font-family: sans-serif;
	/* 1 */
	line-height: 1.15;
	/* 2 */
	-ms-text-size-adjust: 100%;
	/* 3 */
	-webkit-text-size-adjust: 100%;
	/* 3 */
}

body {
	margin: 0;
}

section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

main {
	/* 1 */
	display: block;
}

a {
	background-color: transparent;
	/* 1 */
	-webkit-text-decoration-skip: objects;
	/* 2 */
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* CSS web fonts, font-family, font-style, font-weight, etc. */
html,
body {
	font-family: 'Segoe UI', SegoeUI, 'Segoe WP', 'Helvetica Neue', Helvetica, Tahoma, Arial,
		sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
	font-weight: 600;
}

.docon {
	font-family: 'docons';
	font-size: inherit;
	speak: none;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	direction: ltr;
	line-height: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'docons';
	src: url('docons.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SegoeUI';
	src: url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.eot');
	src: local('Segoe UI'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2')
			format('woff2'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff') format('woff'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf') format('ttf');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'SegoeUI';
	src: url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.eot');
	src: local('Segoe UI'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2')
			format('woff2'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff')
			format('woff'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf')
			format('ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'SegoeUI';
	src: url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.eot');
	src: local('Segoe UI'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2')
			format('woff2'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff') format('woff'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf') format('ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'SegoeUI';
	src: url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.eot');
	src: local('Segoe UI'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2')
			format('woff2'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff')
			format('woff'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf') format('ttf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'SegoeUI';
	src: url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.eot');
	src: local('Segoe UI'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2') format('woff2'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff') format('woff'),
		url('//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf') format('ttf');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'SegoeUI';
	src: local('Apple Color Emoji'), local('Android Emoji'), local('Segoe UI Emoji'),
		local(EmojiSymbols), local(Symbola);
	/* Emoji unicode blocks */
	unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+02600-026FF;
}

/* Make hidden attribute compatible with old browser.*/

/* Container and iFrame styles for embedded video */

/* adding ref classes here until page templates are cleaned up */

/*ssssssss*/

/* main table */

/* table.nameValue */

/* HTML Tags */
a {
	color: hsla(206, 100%, 35%, 1);
	color: var(--primary-base);
	cursor: pointer;
	text-decoration: none;
	word-wrap: break-word;
}

a:hover {
	color: hsla(206, 100%, 28%, 1);
	color: var(--primary-hover);
	text-decoration: underline;
}

a:active {
	color: hsla(206, 100%, 20%, 1);
	color: var(--primary-active);
}

a,
li {
	outline: 0;
}

ul {
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
}

/*
Removes the dotted focus ring on selects in firefox that appears when __tabbing__ onto a select element.
At the time this was written, the selector needed an ancestor  to work properly.
"select:-moz-focusring" on it's own doesn't work for some reason.
*/

html {
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	box-sizing: border-box;
	min-height: 100vh;
}

html *,
html *:before,
html *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	background-color: hsla(0, 0%, 100%, 0.999);
	background-color: var(--body-background);
	color: hsla(0, 0%, 0%, 1);
	color: var(--text);
	line-height: 160%;
	min-height: 100vh;
}

@media print {
	body {
		display: block !important;
		margin: 0 auto !important;
	}
	.primary-holder {
		max-width: 100% !important;
		width: 100% !important;
	}
}

.content {
	/**** checklist list ****/
}

.content h1:first-of-type {
	margin-top: -10px;
	margin-bottom: 0;
}

.content h2,
.content h3 {
	line-height: 1.3;
	margin-bottom: 12px;
	margin-top: 10px;
}

.content h1 {
	line-height: 1.3;
	margin-bottom: 12px;
	font-size: 2.5rem;
	margin-top: 0;
	word-wrap: break-word;
	word-break: break-word;
}

.content h2 {
	font-size: 1.75rem;
	margin-top: 32px;
}

.content h3 {
	font-size: 1.1875rem;
	margin-top: 30px;
	margin-bottom: 18px;
}

.content p {
	margin-top: 1rem;
	margin-bottom: 0;
	word-wrap: break-word;
}

.content ul {
	margin: 16px 0;
	margin-left: 38px;
}

.content ul > li {
	list-style: disc outside none;
}

.docon-status-error-outline:before {
	content: '\FF17';
}
.docon-status-failure-outline:before {
	content: '\FF35';
}
.docon-topic-architecture:before {
	content: '\FF39';
}

.docon-topic-deploy:before {
	content: '\FF40';
}

.docon-topic-download:before {
	content: '\FF41';
}

.docon-topic-get-started:before {
	content: '\FF42';
}

.docon-topic-how-to-guide:before {
	content: '\FF43';
}

.docon-topic-learn:before {
	content: '\FF44';
}

.docon-topic-overview:before {
	content: '\FF45';
}

.docon-topic-quickstart:before {
	content: '\FF46';
}

.docon-topic-tutorial:before {
	content: '\FF47';
}

.docon-topic-whats-new:before {
	content: '\FF48';
}

.docon-topic-reference:before {
	content: '\FF49';
}

.docon-topic-concept:before {
	content: '\FF50';
}

.docon-topic-video:before {
	content: '\FF51';
}

.docon-topic-sample:before {
	content: '\FF53';
}

/* Footer Vars */

.box {
	background-color: hsla(0, 0%, 100%, 0.999);
	background-color: var(--body-background);
	box-shadow: 0 1.6px 3.6px 0 hsla(0, 0%, 0%, 0.132), 0 0.3px 0.9px 0 hsla(0, 0%, 0%, 0.108);
	box-shadow: 0 1.6px 3.6px 0 var(--box-shadow-medium), 0 0.3px 0.9px 0 var(--box-shadow-light);
	display: block;
	padding: 1.25rem;
	border: 1px solid hsla(0, 0%, 100%, 0);
	border: 1px solid var(--border-white-high-contrast);
}

.select.is-primary:not(:hover):after {
	border-color: hsla(206, 100%, 35%, 1);
	border-color: var(--primary-base);
}

.select.is-secondary:not(:hover):after {
	border-color: hsla(0, 0%, 67%, 1);
	border-color: var(--secondary-base);
}

.select.is-tertiary:not(:hover):after {
	border-color: hsla(0, 0%, 27%, 1);
	border-color: var(--tertiary-base);
}

.select.is-success:not(:hover):after {
	border-color: hsla(120, 77%, 30%, 1);
	border-color: var(--success-base);
}

.select.is-info:not(:hover):after {
	border-color: hsla(262, 46%, 58%, 1);
	border-color: var(--info-base);
}

.select.is-warning:not(:hover):after {
	border-color: hsla(44, 100%, 50%, 1);
	border-color: var(--warning-base);
}

.select.is-danger:not(:hover):after {
	border-color: hsla(16, 99%, 43%, 1);
	border-color: var(--danger-base);
}

:not(:hover) .heading-anchor:not(.focus-visible) {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
	opacity: 0;
}

.columns > .column {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 0.75rem;
}
/*original 768px */
@media screen and (min-width: 384px), print {
	.column.is-full {
		flex: none;
		width: 100%;
	}
	.column.is-two-thirds-tablet {
		flex: none;
		width: 66.6666%;
	}
	.column.is-12 {
		flex: none;
		width: 100%;
	}
}
/*1088px */
@media screen and (min-width: 544px) {
	.column.is-full-desktop {
		flex: none;
		width: 100%;
	}
	.column.is-4-desktop {
		flex: none;
		width: 33.33333%;
	}
	.column.is-narrow-desktop {
		flex: none;
	}
	.column.is-three-quarters-desktop {
		flex: none;
		width: 75%;
	}
}
/*1280px */
@media screen and (min-width: 640px) {
	.column.is-11-widescreen {
		flex: none;
		width: 91.66667%;
	}
}

.columns {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
	margin-top: -0.75rem;
}

.columns:last-child {
	margin-bottom: -0.75rem;
}
/*768px */
@media screen and (min-width: 384px), print {
	.columns:not(.is-desktop) {
		display: flex;
	}
}

.columns.is-masonry {
	position: relative;
	flex-wrap: wrap;
}
/*1087px 1087.9px 10897.9px */
@media screen and (max-width: 543.5px),
	screen and (-webkit-min-device-pixel-ratio: 1.25) and (max-width: 543.95px),
	screen and (min-resolution: 120dpi) and (max-width: 543.95px) {
	.columns.is-masonry {
		height: 100% !important;
	}
}
/*1088px */
@media screen and (min-width: 544px) {
	.columns.is-masonry {
		flex-flow: column wrap;
		align-content: space-between;
		height: 15000px;
	}
	.columns.is-masonry.is-three-masonry-columns .column:nth-child(3n + 1) {
		order: 1;
	}
	.columns.is-masonry.is-three-masonry-columns .column:nth-child(3n + 2) {
		order: 2;
	}
	.columns.is-masonry.is-three-masonry-columns .column:nth-child(3n) {
		order: 3;
	}
	.columns.is-masonry:before,
	.columns.is-masonry:after {
		content: '';
		flex-basis: 100%;
		width: 0;
		order: 2;
	}
}

#main {
	position: relative;
}

.rating :placeholder {
	color: hsla(0, 0%, 37%, 1);
	color: var(--text-subtle);
}
:root,
.theme-light {
	--text: black;
	--text-subtle: #5e5e5e;
	--text-invert: white;
	--text-glow-high-contrast: black;
	--box-shadow-light: rgba(0, 0, 0, 0.108);
	--box-shadow-medium: rgba(0, 0, 0, 0.132);
	--box-shadow-heavy: rgba(0, 0, 0, 0.18);
	--box-shadow-extra-heavy: rgba(0, 0, 0, 0.22);
	--overlay: rgba(145, 145, 145, 0.5);
	--overlay-hover: rgba(255, 255, 255, 0.5);
	--body-background: white;
	--body-background-medium: #fafafa;
	--body-background-dark: #f2f2f2;
	--border: #e3e3e3;
	--hover-base: #2e2e2e;
	--hover-invert: #fafafa;
	--border-white-high-contrast: rgba(255, 255, 255, 0);
	--border-yellow-high-contrast: rgba(0, 0, 0, 0);
	--primary-base: #0065b3;
	--primary-background: #e0f2ff;
	--primary-background-glow-high-contrast: #e0f2ff;
	--primary-dark: #002b4d;
	--primary-hover: #00518f;
	--primary-active: #003a66;
	--primary-box-shadow: rgba(0, 101, 179, 0.3);
	--primary-invert: white;
	--secondary-base: #ababab;
	--secondary-background: #e3e3e3;
	--secondary-background-glow-high-contrast: #e3e3e3;
	--secondary-dark: #2e2e2e;
	--secondary-hover: #c7c7c7;
	--secondary-active: #c7c7c7;
	--secondary-box-shadow: rgba(0, 0, 0, 0.3);
	--secondary-invert: black;
	--tertiary-base: #454545;
	--tertiary-background: #171717;
	--tertiary-background-glow-high-contrast: #171717;
	--tertiary-dark: #e3e3e3;
	--tertiary-hover: #5e5e5e;
	--tertiary-active: #757575;
	--tertiary-box-shadow: rgba(0, 101, 179, 0.3);
	--tertiary-invert: white;
	--success-base: #128712;
	--success-background: #d2f9d2;
	--success-background-glow-high-contrast: #d2f9d2;
	--success-dark: #094409;
	--success-hover: #0f710f;
	--success-active: #0c5a0c;
	--success-box-shadow: rgba(18, 135, 18, 0.3);
	--success-invert: white;
	--info-base: #8763c5;
	--info-background: #e2daf1;
	--info-background-glow-high-contrast: #e2daf1;
	--info-dark: #38225d;
	--info-hover: #7045ba;
	--info-active: #53338a;
	--info-box-shadow: #e2daf1;
	--info-invert: white;
	--warning-base: #ffbb00;
	--warning-background: #fff1cc;
	--warning-background-glow-high-contrast: #fff1cc;
	--warning-dark: #664b00;
	--warning-hover: #cc9600;
	--warning-active: #997000;
	--warning-box-shadow: rgba(255, 187, 0, 0.3);
	--warning-invert: black;
	--danger-base: #da3b01;
	--danger-background: #ffdacc;
	--danger-background-glow-high-contrast: #ffdacc;
	--danger-dark: #651b01;
	--danger-hover: #b23001;
	--danger-active: #7f2201;
	--danger-box-shadow: rgba(218, 59, 1, 0.3);
	--danger-invert: white;
}

body.theme-dark {
	--text: #e3e3e3;
	--text-subtle: #c7c7c7;
	--text-invert: #2e2e2e;
	--text-glow-high-contrast: #e3e3e3;
	--box-shadow-light: rgba(255, 255, 255, 0.108);
	--box-shadow-medium: rgba(255, 255, 255, 0.132);
	--box-shadow-heavy: rgba(255, 255, 255, 0.18);
	--box-shadow-extra-heavy: rgba(255, 255, 255, 0.22);
	--overlay: rgba(117, 117, 117, 0.5);
	--overlay-hover: rgba(23, 23, 23, 0.5);
	--body-background: #171717;
	--body-background-medium: #2e2e2e;
	--body-background-dark: #242424;
	--border: #454545;
	--hover-base: #c7c7c7;
	--hover-invert: #2e2e2e;
	--border-white-high-contrast: rgba(255, 255, 255, 0);
	--border-yellow-high-contrast: rgba(0, 0, 0, 0);
	--primary-base: #4db2ff;
	--primary-background: #002b4d;
	--primary-background-glow-high-contrast: #002b4d;
	--primary-dark: #a3d7ff;
	--primary-hover: #0091ff;
	--primary-active: #0065b3;
	--primary-box-shadow: rgba(0, 101, 179, 0.3);
	--primary-invert: black;
	--secondary-base: #757575;
	--secondary-background: #2e2e2e;
	--secondary-background-glow-high-contrast: #2e2e2e;
	--secondary-dark: #e3e3e3;
	--secondary-hover: #919191;
	--secondary-active: #ababab;
	--secondary-box-shadow: rgba(0, 0, 0, 0.7);
	--secondary-invert: white;
	--tertiary-base: #454545;
	--tertiary-background: #171717;
	--tertiary-background-glow-high-contrast: #171717;
	--tertiary-dark: #e3e3e3;
	--tertiary-hover: #5e5e5e;
	--tertiary-active: #757575;
	--tertiary-box-shadow: rgba(0, 101, 179, 0.3);
	--tertiary-invert: white;
	--success-base: #128712;
	--success-background: #094409;
	--success-background-glow-high-contrast: #094409;
	--success-dark: #d2f9d2;
	--success-hover: #17b517;
	--success-active: #4ae84a;
	--success-box-shadow: rgba(18, 135, 18, 0.7);
	--success-invert: black;
	--info-base: #8763c5;
	--info-background: #38225d;
	--info-background-glow-high-contrast: #38225d;
	--info-dark: #e2daf1;
	--info-hover: #9b7dcf;
	--info-active: #a98fd6;
	--info-box-shadow: rgba(38, 23, 63, 0.7);
	--info-invert: white;
	--warning-base: #ffbb00;
	--warning-background: #664b00;
	--warning-background-glow-high-contrast: #664b00;
	--warning-dark: #fff1cc;
	--warning-hover: #ffc933;
	--warning-active: #ffd666;
	--warning-box-shadow: rgba(255, 187, 0, 0.7);
	--warning-invert: black;
	--danger-base: #da3b01;
	--danger-background: #651b01;
	--danger-background-glow-high-contrast: #651b01;
	--danger-dark: #ffdacc;
	--danger-hover: #fe571b;
	--danger-active: #fe8f67;
	--danger-box-shadow: rgba(218, 59, 1, 0.7);
	--danger-invert: white;
}

body.theme-high-contrast {
	--text: white;
	--text-subtle: white;
	--text-invert: black;
	--text-glow-high-contrast: yellow;
	--box-shadow-light: rgba(255, 255, 255, 0);
	--box-shadow-medium: rgba(255, 255, 255, 0);
	--box-shadow-heavy: rgba(255, 255, 255, 0);
	--box-shadow-extra-heavy: rgba(255, 255, 255, 0);
	--overlay: rgba(117, 117, 117, 0.5);
	--overlay-hover: rgba(23, 23, 23, 0.5);
	--body-background: black;
	--body-background-medium: black;
	--body-background-dark: black;
	--border: white;
	--hover-base: yellow;
	--hover-invert: black;
	--border-white-high-contrast: white;
	--border-yellow-high-contrast: yellow;
	--primary-base: yellow;
	--primary-background: black;
	--primary-background-glow-high-contrast: yellow;
	--primary-dark: yellow;
	--primary-hover: #ffff33;
	--primary-active: #ffff33;
	--primary-box-shadow: white;
	--primary-invert: black;
	--secondary-base: #e3e3e3;
	--secondary-background: black;
	--secondary-background-glow-high-contrast: #e3e3e3;
	--secondary-dark: #e3e3e3;
	--secondary-hover: #c7c7c7;
	--secondary-active: #c7c7c7;
	--secondary-box-shadow: #e3e3e3;
	--secondary-invert: black;
	--tertiary-base: white;
	--tertiary-background: black;
	--tertiary-background-glow-high-contrast: white;
	--tertiary-dark: white;
	--tertiary-hover: #e3e3e3;
	--tertiary-active: #e3e3e3;
	--tertiary-box-shadow: white;
	--tertiary-invert: black;
	--success-base: #a5f3a5;
	--success-background: black;
	--success-background-glow-high-contrast: #a5f3a5;
	--success-dark: #d2f9d2;
	--success-hover: #d2f9d2;
	--success-active: #d2f9d2;
	--success-box-shadow: white;
	--success-invert: black;
	--info-base: #c6b5e3;
	--info-background: black;
	--info-background-glow-high-contrast: #c6b5e3;
	--info-dark: #e2daf1;
	--info-hover: #e2daf1;
	--info-active: #e2daf1;
	--info-box-shadow: white;
	--info-invert: black;
	--warning-base: #ffe499;
	--warning-background: black;
	--warning-background-glow-high-contrast: #ffe499;
	--warning-dark: #fff1cc;
	--warning-hover: #e2daf1;
	--warning-active: #e2daf1;
	--warning-box-shadow: white;
	--warning-invert: black;
	--danger-base: #feb49a;
	--danger-background: black;
	--danger-background-glow-high-contrast: #feb49a;
	--danger-dark: #ffdacc;
	--danger-hover: #ffdacc;
	--danger-active: #ffdacc;
	--danger-box-shadow: white;
	--danger-invert: black;
}

.theme-light,
body.theme-dark,
body.theme-high-contrast {
	color: hsla(0, 0%, 0%, 1);
	color: var(--text);
	background-color: hsla(0, 0%, 100%, 0.999);
	background-color: var(--body-background);
}
