blockquote.NOTE {
  color: #38225d;
  padding: 8px;
  background: #f2f2f2;
  margin: 5px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0px;
  border-left: 0px solid #f2f2f2;
}
blockquote.NOTE span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
}

blockquote.TIP {
  color: #094409;
  padding: 8px;
  background:  #d2f9d2;
  margin: 5px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0px;
  border-left: 0px solid #d2f9d2;
}
blockquote.TIP span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
}

blockquote.IMPORTANT {
  color: #002b4d;
  padding: 8px;
  background: #e0f2ff;
  margin: 5px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0px;
  border-left: 0px solid #002b4d;
}
blockquote.IMPORTANT span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
}

blockquote.CAUTION {
  color: #651b01;
  padding: 8px;
  background: #ffdacc;
  margin: 5px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0px;
  border-left: 0px solid #ffdacc;
}
blockquote.CAUTION span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
}

blockquote.WARNING {
  color: #664b00;
  padding: 8px;
  background: #fff1cc;
  margin: 5px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 0px;
  border-left: #fff1cc;
}
blockquote.WARNING span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
}
