/* For tabbed content */

.tabGroup {
  margin-top: 1rem;
}

.tabGroup ul[role="tablist"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabGroup ul[role="tablist"]>li {
  list-style: none;
  display: inline-block;
}

.tabGroup a[role="tab"] {
  color: #6e6e6e;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 7.5px;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus, .tabGroup a[role="tab"][aria-selected="true"] {
  border-bottom: 2px solid #0050C5;
}

.tabGroup a[role="tab"][aria-selected="true"] {
  color: #fff;
}

.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus {
  color: #0050C5;
}

.tabGroup a[role="tab"]:focus {
  outline: 1px solid #0050C5;
  outline-offset: -1px;
}

@media (min-width: 768px) {
  .tabGroup a[role="tab"] {
    padding: 5px 15px;
  }
}

.tabGroup section[role="tabpanel"] {
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin: 0;
  overflow: hidden;
}

.tabGroup section[role="tabpanel"]>.codeHeader, .tabGroup section[role="tabpanel"]>pre {
  margin-left: -16px;
  margin-right: -16px;
}

.tabGroup section[role="tabpanel"]> :first-child {
  margin-top: 0;
}

.tabGroup section[role="tabpanel"]>pre:last-child {
  display: block;
  margin-bottom: -16px;
}

.mainContainer[dir='rtl'] main ul[role="tablist"] {
  margin: 0;
}

/*row extension*/

.column {
	display: none;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	margin-top: 12px;
}

.row .column {
	display: block;
	box-sizing: border-box;
	flex: 0 1 100%;
	width: 100%;
}

.row .column > * {
	max-width: 100%;
	width: 100%;
}