/* For tabbed content */

.tabGroup {
  margin-top: 1rem;
}

.tabGroup ul[role="tablist"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabGroup ul[role="tablist"]>li {
  list-style: none;
  display: inline-block;
}

.tabGroup a[role="tab"] {
  color: #6e6e6e;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 7.5px;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus, .tabGroup a[role="tab"][aria-selected="true"] {
  border-bottom: 2px solid #0050C5;
}

.tabGroup a[role="tab"][aria-selected="true"] {
  color: #fff;
}

.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus {
  color: #0050C5;
}

.tabGroup a[role="tab"]:focus {
  outline: 1px solid #0050C5;
  outline-offset: -1px;
}

@media (min-width: 768px) {
  .tabGroup a[role="tab"] {
    padding: 5px 15px;
  }
}

.tabGroup section[role="tabpanel"] {
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin: 0;
  overflow: hidden;
}

.tabGroup section[role="tabpanel"]>.codeHeader, .tabGroup section[role="tabpanel"]>pre {
  margin-left: -16px;
  margin-right: -16px;
}

.tabGroup section[role="tabpanel"]> :first-child {
  margin-top: 0;
}

.tabGroup section[role="tabpanel"]>pre:last-child {
  display: block;
  margin-bottom: -16px;
}

.mainContainer[dir='rtl'] main ul[role="tablist"] {
  margin: 0;
}

/*row extension*/

.column {
	display: none;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	margin-top: 12px;
}

.row .column {
	display: block;
	box-sizing: border-box;
	flex: 0 1 100%;
	width: 100%;
}

.row .column > * {
	max-width: 100%;
	width: 100%;
}

/* For alert styles */

.NOTE {
	margin: 0 7px 0 5px;
	padding: 0 16px 0 10px;
	border-left: 5px solid;
}

.vscode-light .NOTE {
	background: rgba(127, 127, 127, 0.1);
	border-color: rgba(0, 122, 204, 0.5);
}

.vscode-dark .NOTE {
	background: rgba(217, 246, 255, 0.1);
	border-color: rgba(0, 122, 204, 0.5);
}
  
.WARNING {
    margin: 0 7px 0 5px;
    padding: 0 16px 0 10px;
    border-left: 5px solid;
}

.vscode-light .WARNING {
	background: rgba(127, 127, 127, 0.1);
	border-color: rgba(126, 17, 22, 0.89);
}

.vscode-dark .WARNING {
	background: rgba(253, 237, 238, 0.1);
	border-color: rgba(126, 17, 22, 0.89);
}

.IMPORTANT {
    margin: 0 7px 0 5px;
    padding: 0 16px 0 10px;
    border-left: 5px solid;
}

.vscode-light .IMPORTANT {
	background: rgba(127, 127, 127, 0.1);
	border-color: rgba(103, 58, 183, 0.89);
}

.vscode-dark .IMPORTANT {
	background: rgba(238, 233, 248, 0.1);
	border-color: rgba(103, 58, 183, 0.89);
}

.CAUTION {
    margin: 0 7px 0 5px;
    padding: 0 16px 0 10px;
    border-left: 5px solid;
}

.vscode-light .CAUTION {
	background: rgba(127, 127, 127, 0.1);
	border-color: rgba(218, 58, 26, 0.89);
}

.vscode-dark .CAUTION {
	background: rgba(253, 239, 236, 0.1);
	border-color: rgba(218, 58, 26, 0.89);
}

.TIP {
    margin: 0 7px 0 5px;
    padding: 0 16px 0 10px;
    border-left: 5px solid;
}

.vscode-light .TIP {
	background: rgba(127, 127, 127, 0.1);
	border-color: rgba(0, 100, 73, 0.89);
}

.vscode-dark .TIP {
	background: rgba(233, 250, 245, 0.1);
	border-color: rgba(0, 100, 73, 0.89);
}
