body,
html {
  margin-left: auto;
  margin-right: auto;
  max-width: 967px;
  padding: 0;
}

.content h1 {
  margin: .67em 0 0 0;
  border-color: transparent !important;
}

.content h2 {
  margin-top: 21px;
  ;
  margin-bottom: 0px;
  line-height: 1.00;
}

.content h3,
h4,
h5,
h6 {
  margin-bottom: .4rem;
}

.content p {
  margin-top: 12px;
  margin-bottom: 0;
  color: var(--text);
}

a {
  text-decoration: underline;
}

b,
strong {
  font-weight: 700;
}

code {
  color: var(--text) !important;
}

pre {
  border: 1px solid hsla(0, 0%, 89%, 1);
  border: 1px solid var(--border);
  background-color: hsla(0, 0%, 98%, 1);
  background-color: var(--body-background-medium);
  margin: 12px 0 0;
}

pre:not(.hljs),
pre.hljs code>div {
  border-radius: 1px;
}

body.theme-dark pre {
  background-color: #2e2e2e;
}

.content .doc-outline ol {
  margin: 8px 0 0;
  list-style-type: none;
}

.content .doc-outline li {
  margin: 3px 0;
}

.content ul,
.content ol {
  margin: .8rem 0 0 2rem;
  line-height: 1.68;
}

.content ul a,
ol a {
  text-decoration: none;
}

.content ul li ul,
ol li ol {
  margin: 0 0 0 1rem
}

table>thead>tr>th,
table>thead>tr>td,
table>tbody>tr>th,
table>tbody>tr>td {
  border-style: solid;
  border-color: hsla(0, 0%, 89%, 1) !important;
  border-color: var(--border) !important;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border-width: 1px;
  padding: 10px 15px;
}

table>thead>tr>th {
  border-top: 0;
}

table {
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

.hljs-comment,
.hljs-quote {
  color: hsla(0, 0%, 0%, 1);
  color: var(--text);
  font-style: normal;
  line-height: 0;
}

.button {
  font-weight: 400;
}

body.wordWrap pre {
  white-space: pre;
}

.content :not(.codeHeader)+pre>code:before {
  height: 25px;
}

body.showEditorSelection .code-active-line::before,
body.showEditorSelection .code-line:hover::before {
  content: initial;
  display: initial;
  position: initial;
  top: 0;
  left: -12px;
  height: 100%;
}

body.showEditorSelection pre>code.code-line:hover::before {
  display: block;
  height: 25px;
  box-sizing: border-box;
  margin: -16px -16px 16px;
  padding: 5px 16px;
  content: ' ';
  font-weight: 400;
  line-height: 160%;
  color: hsla(0, 0%, 0%, 1);
  color: var(--text);
  background-color: hsla(0, 0%, 95%, 1);
  background-color: var(--body-background-dark);
  border-bottom: 1px solid hsla(0, 0%, 89%, 1);
  border-bottom: 1px solid var(--border);
}

.content .checklist>ul>li:hover::before {
  font-family: 'docons';
  content: '\FF02';
  display: inline-block;
  height: 1rem;
  margin-right: .5rem;
  width: 1rem;
  color: hsla(120, 77%, 30%, 1);
  color: var(--success-base);
}

.showEditorSelection .checklist>ul>li.code-line:hover::before {
  border-left: none;
}

@media only screen and (min-width: 575px) {
  .content .row>.column.span2 {
    width: 50%;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 575px) {
  .content .row>.column.span3 {
    flex-shrink: 1;
    flex-grow: 3;
    flex-basis: 75%;
  }
}

@media only screen and (min-width: 575px) {
  .content .row>.column {
    flex-basis: calc(25% - 8px);
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 12px;
  }
}